[submodule "firmware/microslate"]
	path = firmware/microslate
	url = https://github.com/Josh-writes/microslate-firmware.git
[submodule "firmware/crossink"]
	path = firmware/crossink
	url = https://github.com/uxjulia/CrossInk.git
[submodule "firmware/paperboy"]
	path = firmware/paperboy
	url = https://gitlab.com/zephray/paperboy.git
[submodule "reference/crosspoint-reader-papers3"]
	path = reference/crosspoint-reader-papers3
	url = https://github.com/juicecultus/crosspoint-reader-papers3.git
[submodule "reference/crosspoint-reader"]
	path = reference/crosspoint-reader
	url = https://github.com/crosspoint-reader/crosspoint-reader.git
[submodule "firmware/crosspoint"]
	path = firmware/crosspoint
	url = https://github.com/juicecultus/crosspoint-reader-papers3.git
